.scroll-custom::-webkit-scrollbar {
  width: 3px;
  cursor: pointer;
  background-color: rgba(229, 231, 235, 1);
}
.scroll-custom::-webkit-scrollbar-track {
  cursor: pointer;
  /*background: red;*/
  @apply bg-white;
}
.scroll-custom::-webkit-scrollbar-thumb {
  cursor: pointer;
  /*outline: 1px solid slategrey;*/
  @apply bg-gray-200;
}
